<h1>BoredZzz</h1>

<form action="" method="" role="">
  <legend>Log In</legend>

  <div class="form-group">
    <label for="">Search</label>
    <input type="text" class="form-control" id="" placeholder="email" name="">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>