<div id="logo">
	<h1>BoredZzz</h1>
</div>
<p>Stop watching Netflix and go so do something. We're here to help.</p>

<form action="/login" method="POST" role="">
  <h3>Log In</h3>
  <legend></legend>
<div class="well">
  <div class="form-group">
    <label for="">Email</label>
    <input type="text" class="form-control" id="" placeholder="email" name="email">
    <label for="">Password</label>
    <input type="password" class="form-control" id="" placeholder="Password" name="password">
  </div>
 </div>
  <button type="submit" class="allButton">Log In</button>
  <a href="<%= '/register/' %>" class="allButton"> Create a Profile</a>
</form>