<h1>Your Profile</h1>

<!-- display current user, saved events, have search field, also link in nav bar should route here when wnat ne search -->

<div class="current user"></div>

<div class="savedEvents">
	<ul>One</ul> <!-- add delete button for each event  -->
	<ul>Two</ul>
	<ul>Three</ul>
	<ul>Four</ul>
	<ul>Five</ul>
</div>

<form action="/search" method="GET">
  <legend>Search For Events</legend>
	<div class="search">
    <input type="text" class="form-control" id="" placeholder="zip code" name="zip">
    <input type="text" class="form-control" id="" placeholder="Topic" name="topic">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>

