<h2>Sign Up</h2>
<form action="/register" method="POST" role="">
	<div class="well">
	    <label for="">Email</label>
	    <input type="text" class="form-control" id="" placeholder="email" name="email">
	    <label for="">Password</label>
	    <input type="password" class="form-control" id="" placeholder="Password" name="password1">
	    <input type="password" class="form-control" id="" placeholder="Retype Password" name="password2">
	</div>

	<button type="submit" class="allButton">Create Profile</button>
</form>