#nav {
	/*background-color: #F2C3C3;*/
   	font-family: 'Fjalla One', sans-serif;
   	/*color: #3a6767;*/
   	border: 3px;
    background-color: transparent;
}
}

/*#logo {
	font-family: 'Passion One', cursive;
}*/

h1 {
	font-size: 53px;
}

body {
	text-align: center;
    background: #E4E3EA url("/images/backgroundidea2.jpg") no-repeat center;
    background-size: cover;
   	font-family: 'Fjalla One', sans-serif;
   	color: #ee5306;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: 'Fjalla One', sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

.allButton {
	border-top: 2px solid #a3ceda;
	border-left: 2px solid #a3ceda;
	border-right: 2px solid #4f6267;
	border-bottom: 2px solid #4f6267;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 14px;
	background-color: #134462;
	font-weight: bold;
	color: #ee5306;

}